<div id="schedule-page">
    <div class="main_sch_div" style="background-color: #f2eefb;">
        <div id="cal-header">
            <div id="cal-date">
                <div id="cals-date"></div>
            </div>
        
            <div id="cal-day"></div>
        
            <div id="cal-monthdateyear">
            
            <div id="center">
                <span id="cal-month"></span>,
                <span id="cal-year"></span>
            </div>
        </div>
        <div id="cal-next"><i class="fas fa-angle-right"></i></div>
        <div id="cal-prev"><i class="fas fa-angle-left"></i></div>
    </div>
    <div id="time-graph">
        <div id="cal-time">
          
          <div class="time-div" style="display:flex;">
            <div class="time">9AM</div>
            <div class="sch-show-div" id="time9" style="display:flex;"></div>
          </div>
          <div class="time-div" style="display:flex;">
            <div class="time" >10AM</div>
             <div class="sch-show-div" id="time10" style="display:flex;"></div>
          </div>
          <div class="time-div" style="display:flex;">
            <div class="time" >11AM</div>
             <div class="sch-show-div" id="time11" style="display:flex;">
            </div>
          </div>
          <div class="time-div" style="display:flex;">
            <div class="time">12AM</div>
             <div class="sch-show-div"  id="time12" style="display:flex;">
            </div>
          </div>
          <div class="time-div"  style="display:flex;">
            <div class="time" >1PM</div>
             <div class="sch-show-div" id="time13" style="display:flex;">
            </div>
          </div>
          <div class="time-div" style="display:flex;">
            <div class="time">2PM</div>
             <div class="sch-show-div" id="time14" style="display:flex;">
            </div>
          </div>
          <div class="time-div" style="display:flex;">
            <div class="time">3PM</div>
            <div class="sch-show-div"  id="time15" style="display:flex;">
            </div>
          </div>
          <div class="time-div" style="display:flex;">
            <div class="time">4AM</div>
             <div class="sch-show-div" id="time16" style="display:flex;">
            </div>
          </div>
          <div class="time-div" style="display:flex;">
            <div class="time">5PM</div>
             <div class="sch-show-div" id="time17" style="display:flex;">
            
            </div>
          </div>
          
          <div id="cal-timetable" onclick="timeschedule()">
            <div id='time-bar' class='time-bar'></div>
          </div>
        </div>
      </div>
    </div>
    <div id="slider" class="slider-change">
      <div class="close" >
        <div id="reg-name-div"></div>
        <div id="close-icon" class="close-icon display">
          <div class="clo-icon" onclick="closereg()">
            <i class="fa-solid fa-xmark" style="color:white;font-size:20px;"></i>
          </div>
        </div>
        <div id="cal">
          <div id="monthdateyear"><span id="month"></span><span id="date"></span>,<span id="year"></span></div>
          <div id="prev"><em class="fas fa-angle-left"></em></div>
          <div id="next"><em class="fas fa-angle-right"></em></div>
        </div>
      </div>
      <div id="callist">
        <div id="days-list">
          <div class="sat">Sun</div>
          <div class="mon">Mon</div>
          <div class="tue">Tue</div>
          <div class="wed">Wed</div>
          <div class="thu">Thu</div>
          <div class="fri">Fri</div>
          <div class="sun">Sat</div>
        </div>
        <div id="dates"></div>
      </div>
      <div id="time-form"  class="display">
        <form action="/schedule_post" class="schedule_form" method="post">
          <input type = "hidden" name = "authenticity_token" value = <%= form_authenticity_token %>>
             <label for="user_name" >User name</label>
             <%if current_user!=nil%>
              <input id="user_name" type="text" class="" placeholder="a" name="schedule_times[users_id]" value="<%=current_user.name%>">
             <%else%> 
              <input id="user_name" type="text" class="" placeholder="a" name="schedule_times[users_id]" >
             <%end%>
              <label for="book_name" >Book name</label>
              <input list="book_name" name="schedule_times[book_name_id]" id="book_list">
              <datalist id="book_name" >
              <%@list.each do |booklist|%>
                <option value="<%=booklist.name%>">
              <%end%>
              </datalist>
             
              <label for="date" >Date</label>
              <input id="form-date" type="date" class="" placeholder="a" name="schedule_times[date]">
               
              <label for="time" >Time</label>
              <input id="time" type="time" class="" placeholder="a" name="schedule_times[time]"  min="09:00" max="18:00">
           
  
            <button type="submit" class="scheduleBtn">Book your slot</button>
          </form>
      </div>
      </div>
      </div>
</div>

  <script>

  <%@sch.each do |sch|%>
    document.getElementById("time<%=sch.time.to_i%>").innerHTML  += 
                `<div class='sch-show-detail'>
                  <%= image_tag(Book.find(sch.books_id).book_pic,id:'sch-book-pic', alt: 'profile-img') %>
                  <h6 id='sch-book-bookname'><%=Book.find(sch.books_id).name%></h6>
                  <h6 id='sch-book-status'>
                    <%if Book.find(sch.books_id).status == false%>
                      Unavailable
                    <%else%>
                      Available
                    <%end%>
                  </h6>
                </div>`
            <%end%>
  
  document.getElementById("reg-name-div").innerText = "Calendar";
 
function closereg() {
  document.getElementById("reg-name-div").innerText = "Calendar";
  document.getElementById("callist").classList.remove("display");
  document.getElementById("cal").style.display = "flex"
  document.querySelector(".close").style.backgroundColor = "#301a4e";
  document.getElementById("close-icon").classList.add("display");
  document.querySelector(".close").style.borderBottom = "none";
  document.querySelector(".close").style.color = "#fff";
  document.getElementById("time-form").classList.add("display");
}

function timeschedule() {
  document.getElementById("reg-name-div").innerText = "Time schedule";
  document.getElementById("callist").classList.add("display");
  document.getElementById("cal").style.display = "none"
  document.querySelector(".close").style.backgroundColor = "#301a4e";
  document.querySelector(".close").style.borderBottom = "1px solid #dfe0e5";
  document.querySelector(".close").style.color = "#fff";
  document.getElementById("close-icon").classList.remove("display");
  document.getElementById("time-form").classList.remove("display");
}

let month = [
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec",
];

let i = new Date().getMonth();
let y = new Date().getFullYear();

document.getElementById("month").innerText = month[new Date().getMonth()];
document.getElementById("year").innerText = y;

document.getElementById("date").innerText = new Date().getDate();
document.getElementById("next").onclick = function () {
  if (i < 11) {
    i++;
  } else if (i == 11) {
    i = 0;
    y = y + 1;
  }
  document.getElementById("month").innerText = month[i];
  document.getElementById("year").innerText = y;
  calender();
  header();
};

document.getElementById("prev").onclick = function () {
  if (i > 0) {
    i--;
  } else if (i == 0) {
    i = 11;
    y = y - 1;
  }
  document.getElementById("month").innerText = month[i];
  document.getElementById("year").innerText = y;
  calender();
  header();
};

function calender() {
  var indmonths = month.indexOf(document.getElementById("month").innerText)+1;
 
  let daysstart = new Date(
    document.getElementById("year").innerText,
    indmonths,
    1
  ).getDay();

  let monthslast = new Date(
    document.getElementById("year").innerText,
    indmonths + 1,
    0
  ).getDate();

  let startdate = "";
  for (let e = 0; e < daysstart + monthslast; e++) {
    let dates = "<div class='days-no'></div>";
    startdate = startdate + dates;
  }

  document.getElementById("dates").innerHTML = startdate;

  for (let w = daysstart; w < daysstart + monthslast; w++) {
    document.getElementsByClassName("days-no")[w].innerText = w - daysstart + 1;
  }

  for (let l = 0; l < daysstart + monthslast; l++) {
    if (
      document.getElementsByClassName("days-no")[l].innerText ==
      document.getElementById("date").innerText
    ) {
      document.getElementsByClassName("days-no")[l].classList.add("today");
    }

    document.getElementsByClassName("days-no")[l].onclick = function () {
      let div = document.getElementById("dates");
      let add = div.getElementsByTagName("div").length;

      for (let r = 0; r < add; r++) {
        document.getElementsByClassName("days-no")[r].classList.remove("today");
      }
      document.getElementsByClassName("days-no")[l].classList.add("today");
      document.getElementById("date").innerText =
        document.getElementsByClassName("days-no")[l].innerText;
      header();
    };
  }
}

function header() {
  document.getElementById("cals-date").innerText =
    document.getElementById("date").innerText;
  document.getElementById("cal-month").innerText =
    document.getElementById("month").innerText;
  document.getElementById("cal-year").innerText =
    document.getElementById("year").innerText;

  let indmonths = month.indexOf(document.getElementById("month").innerText);

  let week = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
  document.getElementById("cal-day").innerText =
    week[
      new Date(
        document.getElementById("year").innerText,
        indmonths,
        document.getElementById("date").innerText
      ).getDay()
    ];
    var date_rails = document.getElementById("date").innerText;
    let date_ra
    let month_ra

    if(date_rails < 10){
      date_ra = "0"+date_rails;
    }else{
      date_ra = date_rails
    }

    if(indmonths<10){
      month_ra = "0"+indmonths;
    }else{
      month_ra = indmonths;
    }
    
    var year_rails = document.getElementById("year").innerText;
    
    var whole_date =year_rails+ "-" +month_ra+"-" +date_ra;

     document.getElementById("form-date").value=whole_date;
     
}

let indmonth = month.indexOf(document.getElementById("month").innerText);

let de = document.getElementById("date").innerText;
let mo = indmonth;
let ye = document.getElementById("year").innerText;

let monthlast = new Date(
  document.getElementById("year").innerText,
  indmonth + 1,
  0
).getDate();

let daystart = new Date(
  document.getElementById("year").innerText,
  indmonth,
  1
).getDate();

document.getElementById("cal-next").onclick = function () {
  if (de < monthlast) {
    de++;
  } else if (de == monthlast) {
    de = daystart;
  }

  document.getElementById("date").innerText = de;
  calender();
  header();
};

document.getElementById("cal-prev").onclick = function () {
  if (de > daystart) {
    de--;
  } else if (de == daystart) {
    de = monthlast;
  }

  document.getElementById("date").innerText = de;
  calender();
  header();
};

  calender();
  header();
</script>