<%# working on this page %>

<%= render "header" %>
<%# main div %>
<div class="container-fluid main_book_page_div"> 
 <div class="row books_main_row">
   <div class="col-13 books_detail_column">
     <div class="row books_detail_row">
         <div class="col-5 book_img_div">
           <div class="img-circle-back"></div>
            <%= image_tag('Alice_In_Wonderland.jpg',id:"book-main-pic", alt: "bookimg") %>
         </div>
         <div class="col-5 book_desc_div">
         <div class="book_writings_content">
         <h1 class="book_name">Alice in wonderland 
<button onclick="popupform()" class="i-plus"><i class="fa-solid fa-plus"></i></button></h1>
         <h3 class="author">by <span class="author_name">Jerusheya</span></h3>

         <div class="book_content"><h6>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
         nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
         reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
         pariatur. Excepteur sint occaecat cupidatat non proident, 
         sunt in culpa qui officia deserunt mollit anim id est laborum."</h6></div>

         <hr>
         <h6 class="lang">Language : <span>English</span></h6>
         <button class="add_review" onclick="popupform2()">Write Review  <i class="fa-solid fa-star"></i></button>
         <div class="review-show-div">
          <div style="width:100%"> 
          <h3 class="profile-name">
          <%= image_tag('jeru1.png',id:"profile-cir-pic", alt: "profile-img")%>   Jerusheya</h3>
          <h6 class="review">nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
         reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
         pariatur. Excepteur sint occaecat cupidatat non proident, 
         sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>
         </div>
         </div>
         </div>  
     </div>
    </div>
    <div class="col-2 books_roller_div">
    <div class="overflow-auto overflow-div">
        <% for i in 0...6 do%>
           <div class="side-book-div">
             <%= image_tag('Alice_In_Wonderland.jpg',id:"sidebook-main-pic", alt: "bookimg") %>
             <h5 class="side-head" id="side-head">Alice in Wonderland</h5>
             <h6 class="side-head" >Category</h6>
           </div>

        <%end%>
       <div>
    </div>
    </div>
 </div> 
</div>
<div id="pop-up-div-hidden">
<div id="pop-up-form">
<div class="signupFrm2">
<button onclick="popdownform()" class="i-plus-close"><i class="fa-solid fa-xmark"></i></button></h1>
    <form action="/create" class="popform" method="post">
    <input type = "hidden" name = "authenticity_token" value = <%= form_authenticity_token %>>
      <h1 class="poptitle">Add Book  
      <h6 class="pop-subtitle">Please enter the book details</h6>
      <label for="" class="poplabel-upload">Upload Book Picture</label>
      <div class="inputContainer2">
        <input type="file" class="popinput1" placeholder="a" name="">
      </div>

      <div class="inputContainer2">
        <input type="text" class="popinput" placeholder="a" name="">
        <label for="" class="poplabel">Name</label>
      </div>

      <div class="inputContainer2">
        <input type="text" class="popinput" placeholder="a" name="">
        <label for="" class="poplabel">Author</label>
      </div>

      <div class="inputContainer2">
        <input type="text" class="popinput" placeholder="a" name="">
        <label for="" class="poplabel">Description</label>
      </div>

      <div class="inputContainer2">
        <input type="text" class="popinput" placeholder="a" name="">
        <label for="" class="poplabel">Language</label>
      </div>

      <div class="inputContainer2">
        <input type="text" class="popinput" placeholder="a" name="">
        <label for="" class="poplabel">Category</label>
      </div>

      <button type="submit" class="addBtn" >Add Book</button>
    </form>
  </div>
</div>
</div> 


<div id="pop-up-div2" >
 <div id="pop-up-form">
 <div class="signupFrm2">
  <button onclick="popdownform2()" class="i-plus-close"><i class="fa-solid fa-xmark"></i></button>
    <form action="/review" class="popform" method="post">
    <input type = "hidden" name = "authenticity_token" value ="<%= form_authenticity_token%>">
      <h1 class="poptitle">Add Review</h1>
      <h6 class="pop-subtitle">Please add your review</h6>


      <div class="inputContainer2">
        <input type="text" class="popinput" placeholder="a" name="review[review_description]">
        <label for="" class="poplabel">Review</label>
      </div>

      <div class="inputContainer2 star-checking" id="star-checking">
      <label for="check1" class="star"><i class="fa-solid fa-star"></i></label>
      <input type="checkbox" value="1" id="check1" name="review[review]" class="check_star">
       <label for="check2" class="star"><i class="fa-solid fa-star"></i></label>
      <input type="checkbox" value="2" id="check2" name="review[review]" class="check_star">
       <label for="check3" class="star"><i class="fa-solid fa-star"></i></label>
      <input type="checkbox" value="3" id="check3" name="review[review]" class="check_star">
       <label for="check4" class="star"><i class="fa-solid fa-star"></i></label>
      <input type="checkbox" value="4" id="check4" name="review[review]" class="check_star">
      <label for="check5" class="star"><i class="fa-solid fa-star"></i></label>
      <input type="checkbox" value="5" id="check5" name="review[review]" class="check_star"> 
      </div>

      <button type="submit" class="addBtn" >Add review</button>
    </form>
  </div>
 </div>
</div>
  <style>
.hidden{
  visibility:hidden;
}
.show{
  visibility: visible;
}
</style>
<script>
let popup = document.getElementById("pop-up-div-hidden");
function popdownform(){
  popup.style.display="none"
}
function popupform(){
  popup.style.display="flex"
}
let reviewpopup = document.getElementById("pop-up-div2");
function popdownform2(){
  reviewpopup.style.display="none"
}
function popupform2(){
  reviewpopup.style.display="flex"
}
function review(){
  let checkBox = document.getElementById("check5");
  let length = document.getElementById("star-checking");
  let len = length.getElementsByClassName("star").length

  for(let i=0; i<len; i++){
checkBox.getElementsByClassName("check_star")[i].onclick =function(){
 console.log(i);
}
  }

   if(checkBox.checked == true){
     document.getElementById("star5").style.color = "red";
   console.log("Sam");
   }else{
     document.getElementById("star5").style.color = "transparent";
   console.log("Prasanna");
   }
}
</script>
