<%= render "header" %>

<div  style = "top:18vh;width:90%;margin-left:5%;">
<table class="table table-hover" id="donating_list_table">
  <thead >
    <tr style="border-bottom:none;">
      <th scope="col">id</th>
      <th scope="col">Book</th>
      <th scope="col">Author</th>
      <th scope="col">Language</th>
      <th scope="col">Category</th>
      <th scope="col">Status</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

  <%for i in 0...@list.length do%>
    <tr>
      <td><%=i+1%></td>
      <td><%=@list[i].name%></td>
      <td><%=@list[i].author%></td>
      <td><%=@list[i].language%></td>
      <td><%=Category.find(@list[i].categories_id).category_name%></td>
       <td>
        <% if @list[i].status==false%>
        <a href="/complete/<%=@list[i].id%>"><button class="btn btn-outline-success my-2 my-sm-0">Done</button></a>
        <% else%>
          <button class="btn btn-outline-danger my-2 my-sm-0" style="cursor:not-allowed">Done</button>
       <%end%>
      </td>
      <td>
       <button class="btn btn-outline-success my-2 my-sm-0" onclick="delTask(<%=@list[i].id%>)">Delete</button>
       </td>

    </tr>
   <%end%>
  </tbody>
</table>
</div>
 <script>
 function delTask(id){
        alert("Confirm");
        window.location.href = "/delete/"+id;
    }
 </script>
 <style>
 body{
     background-color:#f2eefb;
      font-family: 'Mouse Memoirs', sans-serif;
 }
 #donating_list_table tbody tr:hover{
    background-color:#ebe5f5;
 }

 </style>

