<%= render "header" %>

<div  style = "top:18vh;width:90%;margin-left:5%;">
<table class="table table-hover" id="donating_list_table">
  <thead >
    <tr style="border-bottom:none;">
      <th scope="col">id</th>
      <th scope="col">User</th>
      <th scope="col">Mobile</th>
      <th scope="col">Book</th>
      <th scope="col">Language</th>
      <th scope="col">Address</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

  <%for i in 0...@donatelist.length do%>
    <tr>
      <td><%=i+1%></td>
      <td><%=@donatelist[i].user_name%></td>
      <td><%=@donatelist[i].mobile%></td>
      <td><%=@donatelist[i].book_name%></td>
      <td><%=@donatelist[i].language%></td>
      <td><%=@donatelist[i].address%></td>
      <td>
       <button class="btn btn-outline-success my-2 my-sm-0" onclick="delTask(<%=@donatelist[i].id%>)">Delete</button>
       </td>

    </tr>
   <%end%>
  </tbody>
</table>
</div>
 <script>
 function delTask(id){
        alert("Confirm");
        window.location.href = "/delete/"+id;
    }
 </script>
 <style>
 body{
     background-color:#f2eefb;
      font-family: 'Mouse Memoirs', sans-serif;
 }
 #donating_list_table tbody tr:hover{
    background-color:#ebe5f5;
 }

 </style>

